/*===== RESET DEFAULTS =====*/
*{margin: 0;
padding: 0;
box-sizing: 1.6;
}

/*===== GLOBAL STYLES =====*/
body { 

    font-family: Arial, sans-serif;

    color: #333;

    background-color: #f9f9f9;

    margin: 0;

    padding: 0;

    line-height: 1.6;

}

/*===== HEADER STYLES =====*/
header {

    background-color: #6eb571;

    color: white;

    padding: 20px;

    text-align: center;

}

header h1 {

    margin: 0;

}

/*===== NAVIGATION STYLES =====*/
nav a {

    color: white;

    text-decoration: none;

    margin: 0 10px;

}

nav a:hover {

    text-decoration: underline;

}


/*===== IMAGE STYLES =====*/
main {

    padding: 20px;

    max-width: 800px;

    margin: 0 auto;

}

main img {

    max-width: 100%;

    height: auto;

    display: block;

    margin: 20px 0;

}

/*===== FOOTER STYLES =====*/
footer {

    background-color: #333;

    color: white;

    text-align: center;

    padding: 10px;

    position: fixed;

    bottom: 0;

    width: 100%;

}

/*===== PARAGRAPH STYLES =====*/
p {

    font-size: 1.1em;

}
/*===== LINK HOOVER STYLES =====*/
a {

    color: #4CAF50;

    text-decoration: none;

}

/*===== IMAGE STYLES =====*/
a:hover {

    text-decoration: underline;

}

img {

    border: 5px solid #1aaceb;

    border-radius: 10px;

}
/*===== LINK EMAIL STYLES =====*/
main a[href^="mailto:"] {

    color: #2e0323;

    font-weight: bold;
    
}
